@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityRole>

@{
    ViewData["Title"] = "Application Roles";
}

<h1>View Role</h1>
<p> 
    <a asp-action="Create">Create Role</a>
</p>

<table class="table">
    <thraed>
        <tr>
            <th>@Html.DisplayNameFor(model=>model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th></th>
        </tr>
    </thraed>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItems=>item.Id)</td>
                <td>@Html.DisplayFor(modelItems => item.Name)</td>
            </tr>
            
        }
    </tbody>
</table>